<div class="app-container" [class.drawer-open]="isDrawerOpen">
      <header class="app-header">
        <div class="logo-container">
            <img src="assets/shared/icons/recieve-cash.png" alt="Budget Planner" class="logo">
            <h1>{{ title }}</h1>
        </div>
        
        <nav class="main-nav">
          <ul class="nav-links">
            <li>
              <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            </li>
            <li>
              <a routerLink="/mfeBudget" routerLinkActive="active">Budget</a>
            </li>
            <li>
              <a routerLink="/mfeReports" routerLinkActive="active">Reports</a>
            </li>
            <li>
              <a routerLink="/expense" routerLinkActive="active">Expense</a>
            </li>
            <li>
              <a routerLink="/mfeSettings" routerLinkActive="active">Settings</a>
            </li>
          </ul>
        </nav>

        <div class="menu-container">
          <button 
            class="menu-button"
            aria-label="Open menu"
            (click)="toggleDrawer()"
          >
          <img [src]="getAssetPath('icons/hamburger.png')" alt="" class="menu-icon">
          </button>
        </div>
      </header>
      
      <app-drawer
        [isOpen]="isDrawerOpen"
        [navigationItems]="navigationItems"
        (drawerClosed)="closeDrawer()"
        (navigate)="navigateTo($event)"
      ></app-drawer>
      
      <div class="content-wrapper">
        <main class="main-content">
          <router-outlet></router-outlet>
        </main>

        <app-footer></app-footer>
      </div>
    </div>