<nav class="bg-white shadow-sm">
  <div class="container">
    <ul class="flex items-center p-3">
      <li class="mr-4"><a routerLink="mfeSettings" class="text-secondary hover:text-primary transition-base">Settings</a></li>
      <li class="mr-4"><a routerLink="mfeReports" class="text-secondary hover:text-primary transition-base">Reports</a></li>
      <li class="mr-4"><a routerLink="mfeBudget" class="text-secondary hover:text-primary transition-base">Budget</a></li>
    </ul>
  </div>
</nav>

<main class="container mt-4">
  <router-outlet></router-outlet>
</main>
